.home-container {
    margin: 0 auto;
    padding: 20px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.home {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 12px;
}



/* Responsive design */
@media (max-width: 768px) {
    .home {
        flex-direction: column;
        align-items: flex-start;
    }
}

@media (max-width: 480px) {
    .home {
        font-size: 12px;
    }
}